section {
    background-color: #a53860;
    width: 400px;
    height: 400px;
}

div {
    background-color: #df769d;
    width: 70%;
    height: 20%;
}

h1 {
    border: 1px solid black;
    font-size: 40px;
    line-height: 80px;
}

h2 {
    font-size: 2em;
}

article {
    font-size: 30px;
}

p {
    font-size: 0.8em;
}

ul {
    font-size: 1.5em;
}